a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
}

.nav-item:hover{
  background-color: seagreen;
   }

nav{
background-color: green;
height: 75px;

}
html {
  font-size: 14px;
}
a.nav-link{
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
  position: fixed;
  font-size: 12px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
 }

