<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">
  <h2>Plan de Acción</h2>
  <br />
  <div class="row">
    <div class="col-lg-2">
      <div class="form-group">
        <label>Actividad: </label>
        <input
          class="form-control"
          placeholder="Nombres"
          type="text"
          value="{{plan.actividad.tipoActividad.nombreActividad}}"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Horas Asignadas: </label>
        <input
          class="form-control"
          placeholder="Nombres"
          type="text"
          value="{{plan.actividad.horasAsignadas}}"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Fecha: </label>
        <input
          class="form-control"
          placeholder="Nombres"
          value="{{plan.actividad.fechaAsignacion}}"
          type="text"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Estado: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombres"
          value="{{plan.actividad.estado}}"
          readonly
        />
      </div>
    </div>
    <!-- <div class="col-lg-2">
      <div class="form-group">
        <label>Progreso: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Porcentaje"
            readonly
        />
      </div>
    </div> -->
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <tr>
        <th class="masAncho">Acciones Planeadas</th>
        <th class="masAncho">Acciones Realizadas</th>
        <th>Evidencia</th>
        <th></th>

      </tr>
      <tr *ngFor="let action of plan.items">
        <td class="masAncho">{{ action.accionPlaneada.descripcion }}</td>
        <td
          style="vertical-align: middle;"
          class="masAncho"
          *ngIf="(action.accionRealizada.descripcion === '')&&!(plan.actividad.estado==='Terminada') && !(plan.actividad.estado==='No Terminada')"
        >
          <button
            class="btn btn-primary"
            (click)="openDialog(action.id, action.accionPlaneada.descripcion)"
          >
            Registrar
          </button>
        </td>
        <td class="masAncho" *ngIf="!(action.accionRealizada.descripcion === '')">
          {{ action.accionRealizada.descripcion }}
        </td>
        <td *ngIf="!(action.accionRealizada.evidencia.ruta === '')" style="vertical-align: middle;"><i class="material-icons">attachment</i> <a href="">{{action.accionRealizada.evidencia.ruta}}</a></td>

        <td
          style="vertical-align: middle;"
          *ngIf="!(action.accionRealizada.descripcion === '') && !(plan.actividad.estado==='Terminada') && !(plan.actividad.estado==='No Terminada') "
        >
          <!-- <button
            class="btn btn-primary"
            (click)="addAccionRealizada(action.id)"
          >
            Editar
          </button> -->
        </td>
      </tr>
    </table>
    <br>
  </div>
