<div class="container">
  <h2>Plan de Acción</h2>
  <br />
  <div class="row">
    <div class="col-lg-2">
      <div class="form-group">
        <label>Actividad: </label>
        <input
          class="form-control"
          placeholder="Nombres"
          type="text"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Horas Asignadas: </label>
        <input
          class="form-control"
          placeholder="Nombres"
          type="text"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Fecha: </label>
        <input
          class="form-control"
          placeholder="Nombres"
          type="text"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Estado: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombres"
          readonly
        />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <label>Progreso: </label>
        <input
          type="text"
          class="form-control"
          placeholder="Porcentaje"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <tr>
        <th class="masAncho">Acciones Planeadas</th>
        <th class="masAncho">Acciones Realizadas</th>
        <th>Evidencia</th>
        <th></th>

      </tr>
      <tr *ngFor="let action of plan.acciones">
        <td class="masAncho">{{ action.accionPlaneada }}</td>
        <td
          style="vertical-align: middle;"
          class="masAncho"
          *ngIf="(action.accionRealizada === '')&&!(plan.actividad.estado==='Terminada') && !(plan.actividad.estado==='No Terminada')"
        >
          <button
            class="btn btn-primary"
            (click)="addAccionRealizada(action.idAccion)"
          >
            Registrar
          </button>
        </td>
        <td class="masAncho" *ngIf="!(action.accionRealizada === '')">
          {{ action.accionRealizada }}
        </td>
        <td *ngIf="!(action.evidencia === '')" style="vertical-align: middle;"><button class="btn btn-primary"  (click)="createImgPath(action.evidencia)">ver</button></td>

        <td
          style="vertical-align: middle;"
          *ngIf="!(action.accionRealizada === '') && !(plan.actividad.estado==='Terminada') && !(plan.actividad.estado==='No Terminada') "
        >
          <button
            class="btn btn-primary"
            (click)="addAccionRealizada(action.idAccion)"
          >
            Editar
          </button>
        </td>
      </tr>
    </table>
    <br>
  </div>
    <div class="form-group" style="text-align: right;" *ngIf="!(plan.actividad.estado==='Terminada') && !(plan.actividad.estado==='No Terminada') ">
      <button class="btn btn-primary" (click)="finalizar()">Finalizar</button>
    </div>
