<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
                <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                <form [formGroup]="loginForm">
                      <mat-form-field style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input
                          matInput
                          placeholder="Email"
                          type="email"
                          formControlName="username"
                          id="userName"
                        />
                      </mat-form-field>
                    <mat-form-field style="width: 100%;">
                      <mat-label>Contraseña</mat-label>
                      <input
                        matInput
                        type="password"
                        formControlName="password"
                        id="password"
                      />
                    </mat-form-field>

                </form>
                <br>
                <div class="form-group">
                  <button
                    type="submit"
                    class="btn btn-lg btn-primary btn-block"
                  >
                    Entrar
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
