/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
a {
  color: #0366d6;
}
code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: green;
  border-color:green;
}
*{
  font-family: 'Poppins', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif;
font-size: 15px;}
